*{
	font-family: sans-serif;
}
body{
	background-image: url("../img/background.jpg");
	background-repeat: repeat;
}
.title{
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	background-color: #3277E5;
	color: white;
}
.white{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.camera{
	margin: 10px;
	padding: 3px;
	border-radius: 10px;
	transition: background-color 1s, color 1s;

}

.camera:hover{
	color: white;
	background-color: #3277E5;

}